@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 0px; 
}

h1 {
    margin-top: 10px; 
    color: #e7926c;
    text-align: center;
    font-size: 35px;
}

.options {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.options > div {
    margin-top: 20px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    border: 2px solid #e7926c;
}

.but-div, .color-picker, .erasor {
    display: flex;
    flex-direction: column; 
    align-items: center;
}  

button {
    background-color: #eec1a4;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.5s ease 0s;
}

button:hover {
    color: #e7926c;
    transform: scale(1.2) perspective(1px);
}
input {
    margin-bottom: 5px;
}

.options {
    background-color: #79a6a3;
    padding: 20px;
}

.footer span{
    color: #3caea3;
    margin: 5px;
}

.footer {
    background-color: #f9e5d7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;

}

.footer img {
    filter: invert(59%) sepia(51%) saturate(474%) hue-rotate(125deg) brightness(91%) contrast(89%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html, body {
    width: 100%; 
    height: 100%;
} 

#size {
    accent-color: #eec1a4;
}